* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

nav {
  display: flex;
  width: 100%;
  padding: 20px 40px;
  justify-content: space-evenly;
  background-color: blueviolet;
}

.navitem {
  text-decoration: none;
  color: #fff;
}

.main {
  background-image: linear-gradient(
      rgba(165, 164, 255, 0.5),
      rgba(255, 156, 156, 0.5)
    ),
    url(./images/main.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 591px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.main-text {
  color: #1f1f1f;
}

.services {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 40px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: chocolate;
  width: 25%;
  height: 40vh;
  border-radius: 40px;
}

.card i {
  font-size: 40px;
}

.card p {
  font-size: 24px;
}
