* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

nav {
  display: flex;
  width: 100%;
  padding: 20px 40px;
  justify-content: space-evenly;
  background-color: blueviolet;
}

.navitem {
  text-decoration: none;
  color: #fff;
}
